section.home {
  width: 100%;
  height: calc(100vh - 80px);
  // display: grid;
  // grid-template-columns: 35% auto;
  // grid-template-rows: calc(100% - 80px);
  overflow: hidden;
  background-image: url("../../images/stars.jpg");

  h1 {
    color: white;
    font-family: "Raleway";
    font-weight: 100;
    font-size: 8rem;
  }

  h1.surname {
    font-weight: 400;
  }

  .left {
    // grid-column: 1;
    float: left;
    width: 35%;
    position: relative;
  }

  .books {
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    animation: books-slidein 3s;
    // animation-delay: 4s;
  }

  .keys {
    width: 90%;
    position: absolute;
    top: 27%;
    left: 0;
    animation: keys-slidein 2s;
    // animation-delay: 2s;
  }

  .camera {
    width: 90%;
    position: absolute;
    left: 0;
    top: 59%;
    animation: camera-slidein 1s;
  }

  .right {
    // grid-column: 2;
    float: right;
    width: 65%;
  }

  .textBlock {
    text-align: center;
    border: 4px solid white;
    width: 70%;
    margin: 20% 15%;
  }

}

@keyframes keys-slidein {
  from {
    top: -150%;;
  }

  to {
    top: 27%;
  }
}

@keyframes camera-slidein {
  from {
    top: -50%;
  }

  to {
    top: 59%;
  }
}

@keyframes books-slidein {
  from {
    top: -250%;
  }

  to {
    top: 0;
  }
}
